#header {
    padding: 10px;
    text-align: center;
    background: white;
    color:black;
    font-size: 30px;
    
  }

  h1 {
      margin-bottom:0px;
      text-align: center;
  }


  video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top:200px;
}

div#header.container {
    width:100vw;
    padding-bottom: 0px;
    margin:0px !important;
    max-width:100% !important;
}


hr {
    width: 295px;
    align-items: flex-start;
    margin-bottom: 0px;
    /* margin-top: 0px; */
}

hr.bottom-line {
    margin-top: 0px;
    width: 250px;
}
body {
    background-color: linen
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 50px;
    background-color: rgb(235, 230, 230);
    
  }
  

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto; 
}

  nav li{
      width: 20%;
      display: inline-block;
      font-size: 15px;
  }

  nav li a{
      text-decoration: none;
      color: tan
  }


    .product{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    width: 300px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: blanchedalmond;
    font-size: 13px;
    }

    .product > .level {
        background-color: rgb(221, 219, 219);
        color: black;
        padding: 15px 0;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        }

    main{
        max-width: 100%;
        width: 1200px; 
        margin: 80px auto; 
        justify-content: center;
    }

    form input{
        margin: 20px 0;
        padding: 10px 20px;
        font-size: 15px;
       
        border: 4px solid white;
    }

    footer{
        padding: 20px;
        text-align: center;
        background: white;
        color:black;
        font-size: 10px
    }
div#left-card.level {
    position:relative;
    bottom: 39px;
}

   section#pricing {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 115px;
   }

   div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.button{
    text-align: center;
    
}


.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    background-color:wheat;
    
    
}

div#cleanser.product {
    justify-content: flex-end
    
}

div#left-box.container{
    position: relative;
    bottom: 40px;
}
    



button#middle-submit.btn {
    top: 19px;
}



div#Blush.product {
    justify-content: initial;
}
@media (max-width:900px) {
    div#video.nature{
        transform: scale(.5);
        display: flex;
        justify-content: center;
        
    }  
    }
@media (max-width:760px) {
    ul.nav-list {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    a.nav-link {
        position:relative;
        right: 50px;
    }
}


@media (min-width:650px) {
    /* div {
        width:100% !important
    } */
    ul.card-list {
        display: flex;
        flex-direction: column; 
        position: relative;
        /* left: 150px; */
        /* align-items: center; */
    }
}

@media (max-width:600px) {
 video {
    position:relative;
    justify-self: center;
 }
 ul.nav-list {
     display:flex;
     flex-direction: column;
     align-items: center;
     margin:0px;
     padding:0px;
 }

 section#pricing {
     display:flex;
     flex-direction:column;
     padding:0px;
     margin-left:35px;
 }
/* 
 h1 {
     position:relative;
     right: 20px;
 }
 */
}
@media (min-width: 406 px) {
    div#left-card.level {
        position: relative;
        top: 500px;
    }
}
@media (max-width: 400px) {
    a.nav-link {
        position:relative;
        right: 40px;
    }

    hr.top-line {
        width: 70vw;
    }

    hr.bottom-line {
        width:50vw;
        
    }

    video {
        position:relative;
        right: 15px;
        width: 80vw;
    }
    body {
        width:100vw;
    }
    
    a.nav-link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    div#left-box.container {
        position: relative;
        top: 2px;
    }

    div#left-card.level {
        top: 1px;
    }

    ul#left-box.container {
        position: relative;
        right: 100px;
    }

}
/* @media (min-width: 300px){
    ul#left-list.card-list {
        position: relative;
        right: 200px;
    }
} */


@media (max-width:300px) {
    div {
        width:100% !important
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

div#left-card.card-body {
    padding-bottom: 68px;
}